#primary,
.header-container,
.footer-container{
	max-width: 1200px;
	margin: 0 auto;
}

#primary {
	min-height: calc(100vh - 440px);
	margin-top: 50px;
}

blockquote{
	margin-left: 60px;
	&:before{
		content: "\f122";
		font-family: 'dashicons';
		display: block;
		font-size: 3rem;
		height: 0;
		left: -60px;
		position: relative;
		top: -10px;
		color: #f2f2f2;
	}
}

.post, .page{
	margin: 0;
}