@charset "UTF-8";
/* Main Menu */
ul.menu {
  list-style: none;
}

#primary-menu {
  position: relative;
  justify-content: center;
  background: #000000;
  min-height: 40px;
  line-height: 40px;
}
#primary-menu > li {
  min-width: 200px;
}

.main-navigation {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin-top: 16px;
  background: #ffffff;
  height: 50px;
  vertical-align: middle;
  line-height: 50px;
  font-family: sans-serif;
  font-size: 1.6rem;
}
.main-navigation .element-is-sticky {
  width: 100% !important;
  background: #ffffff;
  padding: 10px 0 !important;
  left: 0 !important;
}
.main-navigation ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  margin: 0;
}
.main-navigation ul ul {
  position: absolute;
  z-index: -1;
  float: left;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease;
  left: 0;
}
.main-navigation ul ul ul {
  top: 0;
  left: -999em;
}
.main-navigation ul ul li.focus > ul {
  left: 100%;
}
.main-navigation ul ul li:hover > ul {
  left: 100%;
}
.main-navigation ulli.focus > ul {
  left: 0;
}
.main-navigation ul li {
  min-width: 200px;
}
.main-navigation ul li:hover > ul, .main-navigation ul li.focus > ul {
  left: 0;
  opacity: 1;
  z-index: 99;
}
.main-navigation ul .sub-menu li {
  min-width: 200px;
}
.main-navigation li {
  position: static;
  float: left;
}
.main-navigation a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}
.main-navigation a:active, .main-navigation a:focus, .main-navigation a:hover {
  text-decoration: underline;
}
.main-navigation .main-nav {
  margin: 0 auto;
}
.main-navigation .sub-menu {
  font-family: sans-serif;
  justify-content: space-around;
}
.main-navigation .sub-menu a {
  color: #000000;
  font-size: 1rem;
}
.main-navigation .sub-menu a:active, .main-navigation .sub-menu a:focus, .main-navigation .sub-menu a:hover {
  text-decoration: underline;
}
.main-navigation ul.sub-menu {
  background: #f1f1f1;
  display: flex;
  justify-content: space-around;
  min-height: 100px;
  align-items: center;
  margin: 0;
  width: 100%;
}
.main-navigation .sub-menu li {
  margin-top: 10px;
}
.main-navigation .sub-menu a :hover {
  text-decoration: underline;
}

#footer-menu .sub-menu {
  display: block;
  background: inherit;
}

/**
Responsive
 */
@media screen and (max-width: 600px) {
  .nav-is-sticky .main-navigation {
    display: block;
    margin-top: 20px;
  }
}
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: flex;
  }
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
}
.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  display: flex;
}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  flex: 1 0 50%;
}
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  text-align: end;
  flex: 1 0 50%;
}

/**
Quick-Access
 */
#quick-access {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, max-content);
  grid-gap: 1px;
}
#quick-access i {
  font-size: 2.5em;
  margin: 0 50px 0 10px;
}

.menu-quick-access-container .fontawesome-text {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: sans-serif;
}
.menu-quick-access-container li {
  width: 263px;
  height: 50px;
}
.menu-quick-access-container li a {
  background: #000000;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu-quick-access-container li a:hover {
  background: #000000;
  color: #000000;
}
.menu-quick-access-container a {
  text-decoration: none;
  color: #ffffff;
}

/**
Vertical
 */
.menu-vertical-container {
  position: fixed;
  right: 0;
  top: 70%;
  transform: translateY(-50%);
  background-color: transparent;
  z-index: 99999;
}
.menu-vertical-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
.menu-vertical-container ul li {
  margin-bottom: 1px;
}
.menu-vertical-container ul li a {
  display: inline-block;
  background-color: green;
  color: #fff;
  font-family: sans-serif;
  padding: 9px 10px;
  font-size: 1rem;
  vertical-align: middle;
  transform: translateX(calc(100% - 2rem - 20px));
  transition: transform 0.7s ease, background-color 0.3s ease;
  text-decoration: none;
}
.menu-vertical-container ul li a:hover {
  color: green;
}
.menu-vertical-container ul li a i {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  vertical-align: middle;
}
.menu-vertical-container ul li a .fontawesome-text {
  margin-left: 7px;
}
.menu-vertical-container ul li a:hover, .menu-vertical-container ul li a:focus {
  background-color: #ffffff;
  transform: translateX(0);
}

/**
Responsive
 */
@media screen and (max-width: 768px) {
  .main-navigation {
    background-color: #ffffff;
  }
  .main-navigation a {
    background-color: #000000;
  }
  .main-navigation #primary-menu {
    z-index: 999;
  }
  .main-navigation .main-nav {
    width: 100%;
  }
  .main-navigation ul .sub-menu li {
    max-width: none;
  }
  .main-navigation ul ul {
    z-index: auto;
  }

  .menu-vertical-container {
    display: none;
  }
}
@media screen and (max-width: 485px) {
  /*	html {
  		overflow: hidden;
  	}

  	body {
  		overflow-x: hidden;
  	}*/
  .main-navigation ul {
    display: none;
    margin-top: 10px;
  }
  .main-navigation ul .sub-menu {
    top: 44px;
    background: #ffffff;
    min-height: auto;
    width: 100%;
    box-shadow: 0 0 5px 5px rgba(123, 92, 44, 0.3);
  }
  .main-navigation ul .sub-menu li {
    margin: 0 auto;
  }
  .main-navigation ul .sub-menu a {
    color: #f2ebdf;
  }
  .main-navigation ul ul {
    z-index: auto;
  }
  .main-navigation li {
    float: none;
  }
  .main-navigation a:active, .main-navigation a:focus, .main-navigation a:hover {
    margin: 0 auto;
  }

  .toggled ul .sub-menu :hover {
    top: -85px;
    min-height: auto;
  }

  .menu-toggle {
    margin: 0 auto;
    background: #ffffff;
  }
  .menu-toggle .fas.fa-bars {
    color: #000000;
  }

  #primary-menu {
    margin-top: 10px;
  }
  #primary-menu > li {
    margin-right: 0;
    position: relative;
  }

  #primary, .footer-wrapper {
    width: 100%;
    margin: 0 auto;
  }
}
#primary,
.header-container,
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

#primary {
  min-height: calc(100vh - 440px);
  margin-top: 50px;
}

blockquote {
  margin-left: 60px;
}
blockquote:before {
  content: "";
  font-family: "dashicons";
  display: block;
  font-size: 3rem;
  height: 0;
  left: -60px;
  position: relative;
  top: -10px;
  color: #f2f2f2;
}

.post, .page {
  margin: 0;
}

.header-container,
.site-branding {
  display: flex;
}

#masthead {
  height: 210px;
}

.custom-logo {
  width: 130px !important;
}

.site-info {
  padding-left: 20px;
}

#colophon {
  padding-top: 20px;
  margin-top: 40px;
}
#colophon .site-info {
  margin: 0 auto;
  text-align: center;
}

.fab.fa-twitter {
  color: #00acee;
}

.fab.fa-youtube {
  color: #c4302b;
}

.fab.fa-facebook {
  color: #3b5998;
}

.fab.fa-instagram {
  color: #3f729b;
}

.social-network {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
  justify-content: right;
}
.social-network input[type=submit] {
  padding: 0 6px;
}
.social-network .search-submit,
.social-network label {
  height: 32px;
}
.social-network i {
  font-size: 25px;
  margin: 0 3px;
}

.social-buttons a {
  text-decoration: none;
}

#secondary {
  display: flex;
  justify-content: space-evenly;
}

/*# sourceMappingURL=starter.css.map */
